<br><br>
<p>Entra</p>
<br>

<section class="vh-100">
  <div class="container py-3 h-100">
    <div class="row d-flex align-items center justify-content-center h-80">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
             class="img-fluid" alt="Phone image">
      </div>

      <div class="col-md-7 col-lg-5 col-xl-5 ">
        <form (ngSubmit)="onSubmit(form)" #form=ngForm>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
            <input required [(ngModel)]="userLogin.email" type="email" id="email" name="email" #email=ngModel class="form-control form-control-lg"/>
            <span class="error" *ngIf="!email.valid && email.touched">Email non valida. Riprova.</span>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input required [(ngModel)]="userLogin.password" type="password" id="password" name="password" class="form-control form-control-lg" />
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox" checked />
              <label class="form-check-label" for="checkbox"> Ricordati di me </label>
            </div>
            <a href="#!">Password dimenticata?</a>
          </div>

          <!-- Submit Button -->
          <button [disabled]="!form.valid" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block"
                  style="background-color: #7CC6FE">
            Log in
          </button>
          <br><br>
          <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
          <br><br><br>

          <a data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
             role="button">
            <i class="bi bi-facebook"></i> Continua con Facebook
          </a>
          <br><br>
          <a data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
             role="button">
            <i class="bi bi-twitter-x"></i> Continua con X
          </a>
        </form>
      </div>
    </div>
  </div>
</section>
